<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CancionSWPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7101/AplicacionServidorCancion-ProyectoServidorCancion-context-root/CancionSWPort" binding="basicHttpBinding" bindingConfiguration="CancionSWPortBinding" contract="CancionSW.CancionSW" name="CancionSWPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
